body {
font-family:Arial, Helvetica, sans-serif;
width:100%;
background-color:#006747;
margin:0 auto;
/*background-image:url();
background-attachment: fixed; */
font-size:13px;
background-size:cover;
}
form {
width:1080px;
background-color:#fff;
margin:0 auto;
margin-top:60px;
-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
a:link {
color: #0422cc;
text-decoration: underline;
}
a:visited {
color: #fc0000;
text-decoration: underline;
}
a:hover {
color: #362e2e;
text-decoration: underline;
}
select:disabled,
textarea:disabled,
input:disabled {
font-weight:bold;
}
